* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separation {
    border-top: #efefef 1px solid;
}

.main {
    width: 80vw;
    min-width: 500px;
    border: #efefef 1px solid;
    padding: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    margin: 25px 0 50px;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

button:focus {
    outline: none;
}

/* Form */
.input-section {
    margin: 30px 0;
}

.input-box {
    margin: 5px 0;
}

.experience-input, .education-input {
    margin-bottom: 25px;
}

label {
    display: block;
    font-size: 13px;
}

input {
    margin-right: 5px;
    border: lightslategray 1px solid;
    border-radius: 2px;
    height: 20px;
    width: 200px;
}

textarea {
    width: 100%;
    height: 80px;
    border: lightslategray 1px solid;
    border-radius: 2px;
}

#address-input {
    width: 405px;
}

.add-btn {
    border: solid 2px darkslategray;
    background-color: transparent;
    color: darkslategray;
}

.remove-btn {
    border: none;
    background-color: darkslategray;
    color: white;
}

#save-btn {
    background-color: transparent;
    border: solid 2px seagreen;
    color: seagreen;
    margin-top: 25px;
}

/* Preview */
.preview-section {
    margin: 30px 0;
}

.experience-section, .education-section {
    margin: 10px 0;
}

#profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name-preview {
    margin-bottom: 10px;
}

#summary-preview {
    margin-top: 10px;
}

#edit-btn {
    background-color: transparent;
    border: solid 2px orangered;
    color: orangered;
    margin-top: 25px;
}